{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시작화면</title>
    <link rel="stylesheet" href="{% static 'css/onboarding/onboarding_start.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

</head>

<body>
    <div class="mobile-wrap">
        <div class="main">
            <div class="start-frame">
                <div class="logo-frame">
                    <img src="{% static 'images/별조각로고.png' %}">
                </div>
                <div class="page-description">
                    <div class="start-title">
                        <div class="header">
                            <p>별조각</p>
                        </div>
                        <p class="title-description">흩어진 별조각을 모아, 우리의 별자리를 완성하다</p>
                    </div>
                </div>
                <div class="auth-buttons">
                    <a class="primary-btn signup-btn" href="{% url 'accounts:signup' %}">회원가입</a>
                    <div class="login-btn-frame">
                        <a class="primary-btn login-btn" href="{% url 'accounts:login' %}">로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>