{% extends 'base.html' %}
{% load static %}

{% block title %}
home_메인
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home_main.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block content %}


<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="home-main">
    <div class="elements-1">
        <div class="elements-2">
            <div class="head">
                <div class="view">
                    <div class="searchbar">
                        <img src="{% static 'images/search.svg' %}" alt="검색아이콘">
                        <input type="text" name="room-name" id="room-name" placeholder="원하는 방을 입력하세요. (ex. 팀플)">
                    </div>
                </div>
                <div class="space_btn">
                    <button class="create" onclick='location.href="{% url "spaces:home_create_room1" %}"'>우주
                        만들기</button>
                    <button class="enter" onclick='location.href="{% url "spaces:join_space" %}"'>우주 참여하기</button>
                </div>
            </div>

            <div class="list">
                {% if spaces %}
                {% for space in spaces %}
                <button>
                    <p class="space-title">{{ space.name }}</p>
                    <img src="{% static 'images/Arrow.svg' %}" alt="이동">
                </button>
                {% endfor %}
                {% else %}
                <p class="no-space">아직 만들어진 우주가 없습니다.</p>
                {% endif %}
            </div>

        </div>
    </div>
    {% include 'components/navbar.html' with active_nav='home' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}