{% extends 'base.html' %}
{% load static %}

{% block title %}
home_방 생성1
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home_create_room1.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="frame-1">
      <div class="elements-1">
            <div class="elements-2">
                  <div class="top-bar">
                        <a href="{% url 'home_main' %}" class="back-button">
                              <img src="{% static 'images/chevron-backward.svg' %}">
                        </a>
                        <p class="top-bar-title">우주 생성하기</p>
                  </div>
                  <form method="POST" action="{% url 'home_create_room2' %}" class="create-room-form">
                        {% csrf_token %}

                        <div class="elements-3">
                              <div class="space-name">
                                    <div class="input-group">
                                          <p class="input-label">우주 이름</p>
                                          <input class="input-field" name="space_name" placeholder="이름을 입력하세요" maxlength="15" required>
                                    </div>
                                    <p class="input-description">이름은 최대 15자까지 가능합니다</p>
                              </div>
                              <div class="space-keyword">
                                    <div class="input-group">
                                          <p class="input-label">우주 키워드</p>
                                          <input class="input-field" name="space_keyword" placeholder="키워드를 입력하세요" maxlength="15">
                                    </div>
                                    <p class="input-description">키워드는 최대 15자까지 가능합니다<br>(미입력시 우주 이름이 기본값으로 각인됩니다)</p>
                              </div>
                              <div class="tip">
                                    <div class="tip-title-frame">
                                          <div class="tip-icon">
                                                <p>TIP</p>
                                          </div>
                                          <p class="tip-title">이런 내용으로 만들어보세요.</p>
                                    </div>
                                    <p class="exemple">우주 이름: 멋쟁이사자처럼 아기사자</p>
                                    <p class="exemple">키워드: 아기사자들 너무 귀여워</p>
                                    <p class="exemple bold">키워드는 이름과 달리 귀엽고 독특하게 만들어보세요!</p>
                              </div>
                        </div>
                        <button type="submit" class="primary-btn next-btn">다음</button>
                  </form>
            </div>
      </div>
      {% include 'components/navbar.html' with active_nav='home' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}