{% extends 'base.html' %}
{% load static %}

{% block title %}
home_방 생성1
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home_create_room3.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="frame-1">
    <div class="elements-1">
        <div class="top-bar">
            <a href="{% url 'home_create_room2' %}" class="back-button">
                <img src="{% static 'images/chevron-backward.svg' %}">
            </a>
            <p class="top-bar-title">우주 생성하기</p>
        </div>
        <form method="POST" class="create-space-form">
            {% csrf_token %}
            <div class="elements-2">
                <div class="record-cycle-setting">
                    <p class="setting-title">기록 주기 선택</p>
                    <input type="hidden" name="record_cycle" id="recordCycle">
                    <div class="chip" data-value="daily">
                        <div class="icon-wrapper">
                            <img class="icon-default" src="{% static 'images/nrk_media-completed.svg' %}">
                            <img class="icon-hover" src="{% static 'images/nrk_media-completed-purple.svg' %}">
                        </div>
                        <p>매일 기록</p>
                    </div>
                    <p class="setting-description">당일 기록을 놓치면 이어지던 별자리가 끊어집니다</p>
                    <div class="chip" data-value="free">
                        <div class="icon-wrapper">
                            <img class="icon-default" src="{% static 'images/nrk_media-completed.svg' %}">
                            <img class="icon-hover" src="{% static 'images/nrk_media-completed-purple.svg' %}">
                        </div>
                        <p>자유 기록</p>
                    </div>
                    <p class="setting-description">기록하고 싶을 때, 자유롭게 기록합니다</p>
                </div>
                <div class="count-limit-setting">
                    <p class="setting-title">횟수 제한 선택</p>
                    <input type="hidden" name="record_limit" id="recordLimit">
                    <div class="chip limit-chip" data-value="once">
                        <div class="icon-wrapper">
                            <img class="icon-default" src="{% static 'images/nrk_media-completed.svg' %}">
                            <img class="icon-hover" src="{% static 'images/nrk_media-completed-purple.svg' %}">
                        </div>
                        <p>하루에 한 번</p>
                    </div>
                    <p class="setting-description">하루에 한 번만 기록할 수 있도록 횟수를 제한합니다</p>
                    <div class="chip limit-chip" data-value="unlimited">
                        <div class="icon-wrapper">
                            <img class="icon-default" src="{% static 'images/nrk_media-completed.svg' %}">
                            <img class="icon-hover" src="{% static 'images/nrk_media-completed-purple.svg' %}">
                        </div>
                        <p>무제한 기록</p>
                    </div>
                    <p class="setting-description">하루 중 원하는 순간마다 횟수 제한 없이 기록할 수 있습니다</p>
                </div>
            </div>
            <button type="submit" class="primary-btn create-btn">우주 생성</button>
        </form>
    </div>
    {% include 'components/navbar.html' with active_nav='home' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/home_create_room3.js' %}"></script>
{% endblock %}