{% extends 'base.html' %}
{% load static %}

{% block title %}
home_참여하기
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home_join_room.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="frame-1">
      <div class="elements-1">
            <div class="elements-2">
                  <div class="elements-3">
                        <div class="top-bar">
                              <a href="{% url 'home_main' %}" class="back-button">
                                    <img src="{% static 'images/chevron-backward.svg' %}">
                              </a>
                              <p class="top-bar-title">우주 참여하기</p>
                        </div>
                        <form method="POST" class="create-space-form">
                              {% csrf_token %}
                              <div class="join-space">
                                    <div class="input-group">
                                          <p class="input-label">우주 참여하기</p>
                                          <input class="input-field" name="invite_code" placeholder="받은 코드 또는 링크를 입력하세요">
                                    </div>
                                    <p class="input-description">친구한테 코드 또는 링크를 받으세요</p>
                              </div>
                              <button type="submit" class="primary-btn next-btn">다음</button>
                        </form>
                  </div>
            </div>
      </div>

      {% include 'components/navbar.html' with active_nav='home' %}
</div>

{% endblock %}


{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}