{% extends 'base.html' %}
{% load static %}

{% block title %}
추억_갤러리 확인
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/memory/memory_gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="gallery-main">
    <div class="elements-1">
        <div class="top-bar">
            <a href="javascript:history.back()" class="back-button">
                <img src="{% static 'images/chevron-backward.svg' %}">
            </a>
            <p class="top-bar-title">{{ space.name }}</p>
        </div>
        <div class="gallery-content">

            <div class="gallery-date">
                <p>{{ selected_date }}</p>
            </div>

            <div class="gallery-list">

                {% for memory in memories %}
                <div class="gallery-card">
                    <p class="nickname">{{ memory.user.nickname }}</p>
                    <img src="{{ memory.image.url }}" class="gallery-image">
                    <p class="content">{{ memory.content }}</p>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>
    {% include 'components/navbar.html' with active_nav='memory' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}