{% extends 'base.html' %}
{% load static %}

{% block title %}
추억_별자리 확인
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/memory/memory_constellation.css' %}">
<link rel="stylesheet" href="{% static 'css/memory/memory_save_modal.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block content %}
<div class="space-room space-detail">
    <div id="backgroundStars"></div>

    <div class="top-bar">
        <a href="{% url 'memories:memory_main' %}" class="back-button">
            <img src="{% static 'images/chevron-backward-white.svg' %}">
        </a>
        <p class="top-bar-title">{{ space.name }}</p>
    </div>

    <div id="spaceMap">
        <div class="constellation-area">
            <svg id="constellation-svg"></svg>
        </div>

        {{ render_constellations|json_script:"constellations-data" }}
    </div>

    <button id="resetViewBtn" class="reset-view-btn">
        <img src="{% static 'images/akar-icons_arrow-back.svg' %}">
        다시 가운데로 이동
    </button>

    <button class="share-btn" id="shareBtn"
        onclick="location.href='{% url 'memories:memory_gallery_list' space_id=space.space_id %}'">
        <img src="{% static 'images/solar_calendar-broken.svg' %}">
    </button>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/memory_constellation.js' %}"></script>
{% endblock %}