{% extends 'base.html' %}
{% load static %}

{% block title %}
페이지이름
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/memory/memory_constellation.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'memories:memory_gallery_list' space_id=space.space_id %}">
    테스트 별자리
</a>

{% include 'components/navbar.html' with active_nav='memory' %}

{% endblock %}


{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}