{% extends 'base.html' %}
{% load static %}

{% block title %}
추억_달력 확인
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/memory/memory_gallery_list.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block content %}

<div class="memory-room space-detail">

    <div class="top-bar">
        <a href="{% url 'memories:memory_constellation' space.space_id %}" class="back-button">
            <img src="{% static 'images/chevron-backward-white.svg' %}" alt="">
        </a>
        <p class="top-bar-title">{{ space.name }}</p>
    </div>
    <div class="calendar-container">
        <div class="month-header">
            <a href="?year={{ prev_year }}&month={{ prev_month }}" class="month-arrow">
                <img src="{% static 'images/basil_arrow-left-outline.svg' %}" alt="">
            </a>
            <p class="month-title">{{month_name}}</p>
            <a href="?year={{ next_year }}&month={{ next_month }}" class="month-arrow">
                <img src="{% static 'images/basil_arrow-right-outline.svg' %}" alt="">
            </a>
        </div>
        <div class="weekdays">
            <span>SU</span>
            <span>MO</span>
            <span>TU</span>
            <span>WE</span>
            <span>TH</span>
            <span>FR</span>
            <span>SA</span>
        </div>
        <div class="calendar-box">
            {% for day in days_list %}

            {% if day.month == current_month %}
            <a href="{% url 'memories:memory_gallery' space_id=space_id %}?target_date={{ day|date:'Y-m-d' }}"
                class="day-btn current-month">
                {{ day.day }}
            </a>
            {% else %}
            <a href="{% url 'memories:memory_gallery' space_id=space_id %}?target_date={{ day|date:'Y-m-d' }}"
                class="day-btn other-month">
                {{ day.day }}
            </a>
            {% endif %}

            {% endfor %}
        </div>
    </div>
    {% include 'components/navbar.html' with active_nav='memory' %}
</div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}