{% extends 'base.html' %}
{% load static %}

{% block title %}
페이지이름
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/space/space_main.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="space-main">
      <div class="elements-1">
            <div class="elements-2">
                  <div class="top-bar">
                        <p class="top-bar-title">내 우주 둘러보기</p>
                  </div>
                  <div class="list">
                        {% for space in spaces %}
                        <a href="{% url 'spaces:space_room' space.space_id %}">
                              <button>
                                    <p>{{ space.name }}</p>
                                    <img src="{% static 'images/Arrow.svg' %}">
                              </button>
                        </a>
                        {% empty %}
                        <div class="empty-state" style="text-align: center; padding: 50px 0; color: #888;">
                              <p>새로운 우주를 만들거나 초대 코드로 참여해 보세요!</p>
                        </div>
                        {% endfor %}
                  </div>
            </div>
      </div>
      {% include 'components/navbar.html' with active_nav='space' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}