{% extends 'base.html' %}
{% load static %}

{% block title %}
우주_사진 업로드2_업로드
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/space/space_upload.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="space-main">
    <div class="elements-1">
        <div class="top-bar">
            <a href="javascript:history.back()" class="back-button">
                <img src="{% static 'images/chevron-backward.svg' %}">
            </a>
            <p class="top-bar-title">{{ space.name }}</p>
        </div>

        <form action="{% url 'spaces:stars:create' space_id=space.space_id %}" method="POST" class="upload-form"
            enctype="multipart/form-data">
            {% csrf_token %}

            <div class="image-upload-area">
                <input type="file" name="image" id="imageInput" accept="image/*" hidden>

                <label for="imageInput" class="image-upload-box">
                    <img class="camera-icon" id="cameraIcon" src="{% static 'images/basil_camera-solid.svg' %}">
                    <img class="preview-image" id="previewImage">
                </label>

                <button type="button" class="add-image-btn">
                    <img src="{% static 'images/plus-button.svg' %}">
                </button>
            </div>

            <div class="record-input-area">
                <textarea name="content" maxlength="500" placeholder="오늘 있었던 일을 기록해보세요!"></textarea>
            </div>

            <button type="submit" class="primary-btn upload-btn">업로드</button>
        </form>


    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/space_upload.js' %}"></script>
{% endblock %}