{% extends 'base.html' %}
{% load static %}

{% block title %}
비밀번호 변경
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage/mypage_change_password.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="pw-main">
    <div class="elements-1">
        <form action="{% url 'accounts:change_password' %}" method="POST" class="form-box">
            {% csrf_token %}
            <div class="pw-box">
                <p class="pw-title">비밀번호 변경</p>
                <div class="pw-card">
                    <div class="form-group">
                        <label for="current-password">현재 비밀번호</label>
                        <input id="current-password" type="password" name="current_password" required>
                    </div>
                    <div class="new-pw">
                        <div class="form-group">
                            <label for="new-password">새 비밀번호</label>
                            <input id="new-password" type="password" name="new_password"
                                placeholder="8자리 이상 + 특수문자 포함 필수" required>
                        </div>
                        <p class="info">예: abcdef1!</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="primary-btn change-btn">
                변경
            </button>
        </form>
    </div>
    {% include 'components/navbar.html' with active_nav='mypage' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}