{% extends 'base.html' %}
{% load static %}

{% block title %}
닉네임 변경
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage/mypage_change_nickname.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">

{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="nickname-main">
    <form action="{% url 'accounts:change_nickname' %}" method="POST" class="form-box">
        {% csrf_token %}
        <div class="change-nickname">
            <p class="Large-title">닉네임 변경</p>
            <div class="frame-1">
                <div class="now-nickname">
                    <p>현재 닉네임</p>
                    <div class="my-name">{{ current_nickname }}</div>
                </div>
                <div class="form-group">
                    <label for="new-nickname">새 닉네임</label>
                    <input id="new-nickname" type="text" name="new_nickname" maxlength="10" placeholder="닉네임을 입력하세요">
                    <p class="info">{{ error }}</p>
                </div>
            </div>
        </div>
        <button type="submit" class="primary-btn change-btn">
            변경
        </button>
    </form>
    {% include 'components/navbar.html' with active_nav='mypage' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}