.memory-room {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid #1A1953;
    overflow: hidden;
    position: relative;
}

.space-detail {
    width: 100%;
    height: 100%;
    background-image: url('/static/images/space-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-bar {
    margin-top: 36px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    position: relative;
}

.back-button {
    padding: 0;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button img {
    width: 24px;
    height: 24px;
}

.top-bar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
}

.calendar-container {
    margin-top: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month-header {
    width: 309px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
}

.month-arrow {
    fill: linear-gradient(180deg, #FFF 0%, #B7C0D2 100%);
}

.month-title {
    background: linear-gradient(180deg, #FFF 0%, #B7C0D2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
}

.weekdays {
    width: 328px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 11px;
}

.weekdays span {
    background: linear-gradient(180deg, #FFF 0%, #B7C0D2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.calendar-box {
    width: 328px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 40px);
    justify-content: center;
    gap: 8px;
}

.day-btn {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.70) 0%, rgba(183, 192, 210, 0.70) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;

    color: var(--Foundation-Violet-Normal, #1A1953);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
}

.other-month {
    opacity: 0.5;
    cursor: default;
}