{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        별조각
        {% endblock %}
    </title>

    <!-- 공통 css -->
    <link rel="stylesheet"
        href="{% static 'css/global.css' %}">

    <!-- 페이지별 css -->
    {% block extra_css %}
    {% endblock %}
</head>

<body>

    <div class="mobile-wrap">

        <main class="main">

            {% block content %}
            {% endblock %}

        </main>

        <!-- 하단 nav 들어갈 가능성 높음 -->
        {% block bottom_nav %}
        {% endblock %}

    </div>

    <!-- 페이지별 js -->
    {% block extra_js %}
    {% endblock %}

</body>

</html>