{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온보딩</title>
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

</head>

<body>
    <div class="mobile-wrap">
        <div class="main">
            <div class="onboarding-container">
                <section class="onboarding-page page-1">
                    <div class="frame-1">
                        <div class="frame-2">
                            <div class="skip" id="skipBtn">
                                <p class="skap">Skip</p>
                            </div>
                            <div class="text">
                                <p class="large-title">흩어진 별조각을 모아, 우리들만의<br>별자리를 완성하다.</p>
                            </div>
                        </div>
                        <div class="progress-dots">
                            <img src="{% static 'images/progress-dots-filled.svg' %}" alt="현재 페이지">
                            <img src="{% static 'images/progress-dots-empty.svg' %}" alt="비활성 페이지">
                            <img src="{% static 'images/progress-dots-empty.svg' %}" alt="비활성 페이지">
                        </div>
                    </div>
                </section>
                <section class="onboarding-page page-2">
                    <div class="frame-1">
                        <div class="frame-2">
                            <div class="skip" id="skipBtn">
                                <p class="skap">Skip</p>
                            </div>
                            <div class="text">
                                <p class="large-title">기록들이<br>선으로 이어지면,<br>밤하늘에 우리의<br>시간이 그려집니다.</p>
                            </div>
                        </div>
                        <div class="progress-dots">
                            <img src="{% static 'images/progress-dots-empty.svg' %}" alt="비활성 페이지">
                            <img src="{% static 'images/progress-dots-filled.svg' %}" alt="현재 페이지">
                            <img src="{% static 'images/progress-dots-empty.svg' %}" alt="비활성 페이지">
                        </div>
                    </div>
                </section>
                <section class="onboarding-page page-3">
                    <div class="frame-1">
                        <div class="frame-2">
                            <p class="large-title">지금, 첫 별조각을<br>새겨볼까요?</p>
                        </div>
                        <button type="button" class="start-btn" id="startBtn">시작하기</button>
                    </div>
                </section>
            </div>    
        </div>
    </div>
    <script src="{% static 'js/onboarding.js' %}"></script>
</body>

</html>