{% extends 'base.html' %}
{% load static %}

{% block title %}
페이지이름
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth/nickname_setup.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! -->
<div class="nickname-frame">
      <form action="{% url 'accounts:nickname_setup' %}" method="POST" class="form-tag" novalidate>
            <div class="form-box">
                  <p>이제,<br>별조각을 심을 준비가<br>되셨나요?</p>
                  {% csrf_token %}
                  <input id="nickname" type="text" name="nickname" placeholder="닉네임을 입력하세요.">
                  {% if error %}
                  <label for="nickname">{{error}}</label>
                  {% endif %}
            </div>
            <button class="primary-btn next-btn">다음</button>
      </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}