{% extends 'base.html' %}
{% load static %}

{% block title %}
회원가입
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth/signup.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! -->
<div class="signup-frame">
      <div class="signup-main">
            <div class="signup-card">
                  <div class="signup-title">
                        <p>회원가입</p>
                        <p>계정을 만들어 시작해요</p>
                  </div>
                  <form action="{% url 'accounts:signup' %}" method="POST" class="form-box" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                              <div class="form-id">
                                    <div class="card-id">
                                          <label for="signup-username">아이디</label>
                                          <div class="input-id">
                                                <input id="signup-username" type="text" name="username"
                                                      placeholder="아이디" value="{{ username|default:'' }}">
                                                <button class="check-btn" name="check_action" value="check_username"
                                                      type="submit">중복확인</button>
                                          </div>
                                    </div>
                                    <p class="info-id">
                                          {% if username_error %}
                                          {{username_error|linebreaksbr}}
                                          {% elif username_duplicate_error %}
                                          {{username_duplicate_error}}
                                          {% elif error_ischeck %}
                                          {{error_ischeck}}
                                          {% elif username_success %}
                                          <span style="color: rgb(28, 163, 253)">
                                                {{username_success}}
                                          </span>
                                          {% endif %}
                                    </p>
                              </div>
                              <div class="form-pw">
                                    <div class="card-pw">
                                          <div class="input-pw">
                                                <label for="signup-password">비밀번호</label>
                                                <input id="signup-password" type="password" name="password"
                                                      placeholder="비밀번호" value="{{ password|default:'' }}">
                                          </div>
                                          <input id="signup-password" type="password" name="password_confirm"
                                                placeholder="비밀번호 확인" value="{{ password_confirm|default:'' }}">
                                    </div>
                                    <p class="info-pw">
                                          {% if password_error %}
                                          {{password_error}}
                                          {% elif password_confirm_error %}
                                          {{password_confirm_error}}
                                          {% endif %}
                                    </p>
                              </div>
                        </div>

                        <button type="submit" class="primary-button" name="check_action" value="signup">
                              <p>회원가입 완료</p>
                              <img src="{% static 'images/ArrowRight.svg' %}">
                        </button>
                  </form>
                  <p class="login">계정이 있으신가요? <a href="{% url 'accounts:login' %}">로그인</a></p>
            </div>
      </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}