.nickname-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    padding-top: 104px;
    gap: 172px;

    position: relative;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid #1A1953;
    background: #F9F9F9;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 48px;
    width: 100%;
}

.change-nickname {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 64px;
}

.Large-title {
    color: #1A1953;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.5px;
}

.frame-1 {
    display: flex;
    flex-direction: column;

    width: 343px;
    gap: 32px;
}

.now-nickname {
    display: flex;
    flex-direction: column;

    gap: 4px;
    width: 100%;
}

.now-nickname p,
.form-group label {
    color: #09091D;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.my-name {
    width: 100%;
    height: 56px;

    padding: 0 24px;

    border-radius: 80px;
    border: 1px solid #B8B8CA;
    background: #F9F9F9;

    box-sizing: border-box;

    color: #1A1953;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 56px;
}

.form-group {
    display: flex;
    flex-direction: column;

    gap: 4px;
    width: 100%;
}

.form-group input {
    width: 100%;
    height: 56px;

    padding: 0 24px;

    border-radius: 80px;
    border: 1px solid #B8B8CA;
    background: #F9F9F9;

    box-sizing: border-box;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.form-group input::placeholder {
    color: #B8B8CA;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.info {
    min-height: 24px;
    color: #FF5B5B;

    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.change-btn {
    width: 155px;
    height: 39px;

    border: none;
    border-radius: 8px;

    background: #1A1953;

    color: #F9F9F9;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
}